/* TABLETTE */


@media screen and (max-width: 730px) {

    html {
      font-size: 10px;
      margin-top: 0em;
      margin-bottom: 2em;
      margin-right: 1em;
      margin-left: 1em;
    }

    body{
      margin: 2em;
    }

    a{
      font-size: 1em;
    }

    main{
      margin-top: 2em;
    }


    /* TITRE */

   h1
   {
       z-index: 1;
       color : rgb(201, 194, 61);
       font-size: 2em;
       font-style: italic;
       text-align: center;
       position: relative;
       top: 1.5em;
       left: 50%;
       transform: translateX(-50%);
   }


   footer{
     position: relative;
     text-align: center;
     font-size: 7px;
     font-family: sans-serif;
   }

   html {
     font-size: 10px;
     margin-top: 0em;
     margin-bottom: 2em;
     margin-right: 1em;
     margin-left: 1em;
   }

   body{
     margin: 2em;
   }

   a{
     font-size: 1em;
   }

   main{
     margin-top: 2em;
   }


   /* TITRE */


  h1
  {
      z-index: 1;
      color : rgb(201, 194, 61);
      font-size: 2em;
      font-style: italic;
      text-align: center;
      position: relative;
      top: 1.5em;
      left: 50%;
      transform: translateX(-50%);
  }


  footer{
    position: relative;
    text-align: center;
    font-size: 7px;
    font-family: sans-serif;
  }


  /* STICKERS FIXES */


    div.stick-fixe{
      position: fixed;
      width: 10%;
      max-width: 35px;
    }

    .instagram
    {
      right: 4em;
      bottom: 4em;
    }

    .about{
      left:4em;
      top:4em;
    }

    .mail{
      top:4em;
      right:4em;
    }

    .flickr{
      left:4em;
      bottom:4em;
    }
     div.travaux{
       position: fixed;
       width: 100%;
       max-width: 150px;
       z-index: 1;
     }

    .travaux{
      left: 10em;
      top: 20em;

    }

    /* COLONNES */

    .contenu{
      display: flex;
      margin-top: 4em;
    }
}









/* PORTABLE */



@media screen and (max-width: 500px) {

    html {
      font-size: 8px;
      margin-top: 0em;
      margin-bottom: 2em;
      margin-right: 1em;
      margin-left: 1em;
    }

    body{
      margin: 2em;
    }

    a{
      font-size: 1em;
    }

    main{
      margin-top: 2em;
    }


    /* TITRE */


   h1
   {
       z-index: 1;
       color : rgb(201, 194, 61);
       font-size: 2em;
       font-style: italic;
       text-align: center;
       position: relative;
       top: 1.5em;
       left: 50%;
       transform: translateX(-50%);
   }


   footer{
     position: relative;
     text-align: center;
     font-size: 5px;
     font-family: sans-serif;
   }


/* STICKERS FIXES */


    div.stick-fixe{
      position: fixed;
      width: 10%;
      max-width: 30px;
    }

    .instagram
    {
      right: 3em;
      bottom: 3em;
    }

    .about{
      left:3em;
      top:3em;
    }

    .mail{
      top:3em;
      right:3em;
    }

    .flickr{
      left:3em;
      bottom:3em;
    }
     div.travaux{
       position: fixed;
       width: 100%;
       max-width: 100px;
       z-index: 1;
     }

    .travaux{
      left: 10em;
      top: 20em;

    }


    /* COLONNES */

    .contenu{
      display: flex;
      margin-top: 2em;
    }
}




/* PORTABLE */



@media screen and (max-width: 400px) {

    html {
      font-size: 6px;
      margin-top: 0em;
      margin-bottom: 2em;
      margin-right: 1em;
      margin-left: 1em;
    }

    body{
      margin: 4em;
    }

    a{
      font-size: 1em;
    }

    main{
      margin-top: 2em;
    }


    /* TITRE */


   h1
   {
       z-index: 1;
       color : rgb(201, 194, 61);
       font-size: 2em;
       font-style: italic;
       text-align: center;
       position: relative;
       top: 1.5em;
       left: 50%;
       transform: translateX(-50%);
   }


   footer{
     position: relative;
     text-align: center;
     font-size: 3px;
     font-family: sans-serif;
   }


/* STICKERS FIXES */


    div.stick-fixe{
      position: fixed;
      width: 10%;
      max-width: 20px;
    }

    .instagram
    {
      right: 2em;
      bottom: 2em;
    }

    .about{
      left:2em;
      top:2em;
    }

    .mail{
      top:2em;
      right:2em;
    }

    .flickr{
      left:2em;
      bottom:2em;
    }
     div.travaux{
       position: fixed;
       width: 100%;
       max-width: 70px;
       z-index: 1;
     }

    .travaux{
      left: 10em;
      top: 20em;

    }


    /* COLONNES */

    .contenu{
      display: flex;
      margin-top: 2em;
    }

    .boite{
    display: flex;
  }

  .boite {
    flex-wrap: wrap;
  }

  .colonne {
    width: 100%;
    margin: auto;
  }

  .colonne1 {
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }

  .colonne2{
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }
}





/* MEGA ECRAN */


@media screen and (min-width: 2000px) {

  html {
  font-size:16px;
  }

}
