@media screen and (max-witdh: 723px) {

    html {
      font-size: 9px
    }

    body{
      margin: 3em
    }

    a{
      font-size: 1em
    }

}









@@media screen and (min-witdh: 2000px) {

  html {
  font-size:
  }

}
