/* PORTABLE */



@media screen and (max-width: 500px) {

    html {
      box-sizing: border-box;
      font-family: 'Heebo', sans-serif;
      font-size: 8px;
      margin-top: 0em;
      margin-bottom: 2em;
      margin-right: 1em;
      margin-left: 1em;
    }

    body{
      margin: 2em;
    }

    a{
      font-size: 1em;
    }

    main{
      margin-top: 2em;
    }


    /* TITRE */


   h1
   {
       z-index: 1;
       color : #2b2b2b;
       text-align: left;
       position: relative;
       top: 1.5em;
       left: 50%;
       transform: translateX(-50%);
       font-family: 'Vivaldi', serif;
       font-size: 45px;
   }


   /* SOUS TITRE */



   h6{
     color : #2b2b2b;
     text-align: left;
     position: relative;
     font-family: 'Heebo', sans-serif;
     font-size: 15px;
   }


   /* LIEN PRO */

   h7{
     color : #2b2b2b;
     text-align: left;
     position: relative;
     font-family: 'Heebo', sans-serif;
     font-size: 15px;
     text-decoration: underline;
  }


    /* BIO DANS CONTACT */

   h8{
     color : #2b2b2b;
     text-align: left;
     position: relative;
     font-family: 'Heebo', sans-serif;
     font-size: 30px;
  }


  /* BLING A LING CONTACT */


  h6{
    color : #2b2b2b;
    text-align: left;
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
  }


  /* LIEN PRO */

  h7{
    color : #2b2b2b;
    text-align: left;
    position: relative;
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    font-size: 15px;
    text-decoration: underline;
 }


 /* BIO DANS CONTACT */

h8{
  color : #2b2b2b;
  text-align: left;
  position: relative;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
}

/* BLING A LING CONTACT */

h9{
  color : #2b2b2b;
  text-align: left;
  position: relative;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  text-decoration: underline;
}

footer{
  position: relative;
  text-align: center;
  font-size: 3px;
  font-family: sans-serif;
}

/* TYPO ARTICLES */


p{
  color : #2b2b2b;
  font-size: 10px;
  width: 30ch;
  font-family: sans-serif;
  font-weight: lighter;
  position: fixed;
}

/* titre article sans serif */

h2{
  color : #2b2b2b;
  text-align: left;
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  }

  /* TYPO "A PROPOS"*/


  /* titre rubrique */

  h4{
    color : #2b2b2b;
    font-size: 10px;
    font-family: sans-serif;
    margin-left: 2em;
  }

  /* paragraphe */

  h3{
    color : #2b2b2b;
    font-size: 10px;
    font-family: sans-serif;
    margin-left: 0em;
    font-weight: lighter;
    position: relative;

  }


  /* infos petites */

  h5{
    color : #2b2b2b;
    font-size: 7px;
    font-family: sans-serif;
    margin-left: 6em;
  }


  /* STICKERS FIXES */

div.stick-fixe{
  position: fixed;
  width: 10%;
  max-width: 40px;
}

/*.instagram{
  right: 5em;
  bottom: 5em;
}*/

.about{
  top:5em;
  right:5em;
}

/*.mail{
  top:5em;
  right:5em;
}

.flickr{
  left:5em;
  bottom:5em;
}

.retour{
  top:10em;
  right:5em;
}*/


div.travaux{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}


.travaux{
  left: 20em;
  top: 20em;
}


div.designeditorial{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}


.designeditorial{
  left: 70em;
  top: 40em;
}


div.directionartistique{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.directionartistique{
  left: 50em;
  top: 12em;
}


div.designmotifs{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.designmotifs{
  left: 50em;
  top: 10em;
}


div.identiteevent{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.identiteevent{
  left: 7em;
  top: 35em;
}

div.designtypo{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}


.designeditorial{
  left: 70em;
  top: 40em;
}


div.directionartistique{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.directionartistique{
  left: 50em;
  top: 12em;
}


div.designmotifs{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.designmotifs{
  left: 50em;
  top: 10em;
}


div.identiteevent{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.identiteevent{
  left: 7em;
  top: 35em;
}

div.designtypo{
   position: fixed;
   width: 100%;
   max-width: 100px;
   z-index: 1;
}

.designtypo{
  left: 80em;
  top: 10em;
}


    /* COLONNES */

    .contenu{
      display: flex;
      margin-top: 2em;
    }

    .boite{
    display: flex;
  }

  .boite {
    flex-wrap: wrap;
  }

  .colonne {
    width: 100%;
    margin: auto;
  }

  .colonne1 {
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }

  .colonne2{
    width: 100%;
    margin: auto;
    margin-top: 2em;
  }
}
