
html{
    box-sizing: border-box;
    font-family: 'PT Mono', "Arial", sans-serif;
    font-size: 12px;
    /*background: blue;*/
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 3em;
    margin-left: 3em;
    /*cursor: url('./coeur.png'),auto;*/
}


body{
    padding: 0em;
    background: white;
    margin: 6em;
}


main{
    margin-top: 2em;
}






 /* TITRE */


 h1{
   z-index: 1;
   color : pink;
   text-align: center;
   position: relative;
   top: 0em;
   left: 50%;
   transform: translateX(-50%);

}


footer{
  position: relative;
  text-align: center;
  font-size: 9px;
  font-family: sans-serif;
}






/* TYPO ARTICLES */


p{
  color : rgb(84, 86, 119);
  font-size: 15px;
  width: 40ch;
  font-family: sans-serif;
  font-weight: lighter;
}


/* titre article sans serif */

h2{
  color : rgb(84, 86, 119);
  font-size: 20px;
  font-family: sans-serif;
}



/* TYPO "A PROPOS"*/


/* titre rubrique */

h4{
  color : rgb(84, 86, 119);
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 2em;
}

/* paragraphe */

h3{
  color : rgb(84, 86, 119);
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 4em;
  font-weight: lighter;
}

/* infos petites */

h5{
  color : rgb(84, 86, 119);
  font-size: 10px;
  font-family: sans-serif;
  margin-left: 6em;
}







/* LIENS TYPOS */


a:hover, img:hover{
  cursor: url(./coeur.png), auto;
}



a{
  color : pink;
  text-align: center;
  text-decoration: none;
  /*text-shadow: 1em 1em rgb(201, 194, 61);*/
}



a:hover{
  cursor: url(./coeur.png), auto;
}



nav{
  text-align: center;
}



img{
    max-width: 100%;
    height: auto;
    margin: auto;
  }



.projet-image:hover{
  overflow: hidden;
}

.projet-image:hover img{
  filter: opacity(70%);
}



hr.trait-fixe{
    margin: 0;
    color : rgb(84, 86, 119);
    top: 10em;
    right: 30em;
    border: none;
    border-top: 8px solid;
    width: 80%;
    background: none;
}


figure {
    width: 50%;
    margin: auto;
}






  /* STICKERS FIXES */

div.stick-fixe{
  position: fixed;
  width: 10%;
  max-width: 40px;
}

.instagram{
  right: 5em;
  bottom: 5em;
}

.about{
  left:5em;
  top:5em;
}

.mail{
  top:5em;
  right:5em;
}

.flickr{
  left:5em;
  bottom:5em;
}


div.travaux{
   position: fixed;
   width: 100%;
   max-width: 200px;
   z-index: 1;
}


.travaux{
  left: 10em;
  top: 20em;
}






/* COLONNES */

.contenu{
  display: flex;
  margin-top: 2em;
}



.boite{
  display: flex;
  align-content: space-between;
}



.colonne figure, .colonne p{
  width: 90%;
  max-width: 100%;
}



.colonne{
  flex-basis:50%;
  margin-top: 1em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 1em;
  width: 100%;
  margin: auto;
}



.page{
  margin: 0;
  width: 50%;
}



.description.page{
  margin: 0;
  padding: 0;
  top: 13em;
  position: fixed;
  width: calc(50% - 6em - 5em);
  left: calc(50% + 5em);
}



.description.page p{
  width: 80%;
}






/* IMAGES SPECIALES */

.rosace{
  max-width: 70%;
  height: auto;
  margin: auto;
}
