
html{
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    /*background: #fffced;*/
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 3em;
    margin-left: 3em;
    /*cursor: url('./coeur.png'),auto;*/
}




body{
    padding: 0em;
    background: white;
    margin: 6em;
}


main{
    margin-top: 0em;
}






 /* TITRE */


 h1{
   z-index: 1;
   color : #2b2b2b;
   text-align: left;
   position: relative;
   top: 0em;
   left: 50%;
   transform: translateX(-50%);
   font-family: 'Vivaldi', serif;
   font-size: 75px;
 }

 /* SOUS TITRE */



 h6{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 25px;
 }


 /* LIEN PRO */

 h7{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 25px;
   text-decoration: underline;
}


  /* BIO DANS CONTACT */

 h8{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 40px;
}

 /* BLING A LING CONTACT */


 h6{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 25px;
 }


 /* LIEN PRO */

 h7{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 40px;
   font-size: 25px;
   text-decoration: underline;
}



  /* BIO DANS CONTACT */

 h8{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 40px;
}

 /* BLING A LING CONTACT */

 h9{
   color : #2b2b2b;
   text-align: left;
   position: relative;
   font-family: 'Heebo', sans-serif;
   font-size: 40px;
   text-decoration: underline;
}



footer{
  position: relative;
  text-align: center;
  font-size: 9px;
  font-family: sans-serif;
}






/* TYPO ARTICLES */


p{
  color : #2b2b2b;
  font-size: 15px;
  width: 40ch;
  font-family: sans-serif;
  font-weight: lighter;
  position: fixed;
}


/* titre article sans serif */

h2{
  color : #2b2b2b;
  text-align: left;
  font-family: 'Heebo', sans-serif;
  font-size: 25px;
  }



/* TYPO "A PROPOS"*/


/* titre rubrique */

h4{
  color : #2b2b2b;
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 2em;
}

/* paragraphe */

h3{
  color : #2b2b2b;
  font-size: 15px;
  font-family: sans-serif;
  margin-left: 0em;
  font-weight: lighter;
  position: relative;

}

/* infos petites */

h5{
  color : #2b2b2b;
  font-size: 10px;
  font-family: sans-serif;
  margin-left: 6em;
}








/* LIENS TYPOS */


a:hover, img:hover{
  cursor: url(./rond.png), auto;
}



a{
  color : black;
  text-align: center;
  text-decoration: none;
  /*text-shadow: 1em 1em rgb(201, 194, 61);*/
}



a:hover{
  cursor: url(./rond.png), auto;
}



nav{
  text-align: center;
}



img{
    max-width: 100%;
    height: auto;
    margin: auto;
  }



.projet-image:hover{
  overflow: hidden;
}

.projet-image:hover img{
  filter: opacity(20%);
}



hr.trait-fixe{
    margin: 0;
    color : black;
    top: 10em;
    right: 30em;
    border: none;
    border-top: 8px solid;
    width: 80%;
    background: none;
}


figure {
    width: 50%;
    margin: 0em;
}

hr.trait{
    margin: 0;
    color : black;
    top: 100em;
    right: 100em;
    border-top: 1px solid;
    width: 100%;
    background: none;
}





  /* STICKERS FIXES */

div.stick-fixe{
  position: fixed;
  width: 10%;
  max-width: 40px;
}

.instagram{
  right: 5em;
  bottom: 5em;
}

.about{
  top:5em;
  right:5em;
}

.mail{
  top:5em;
  right:5em;
}

.flickr{
  left:5em;
  bottom:5em;
}

.retour{
  top:10em;
  right:5em;
}


div.travaux{
   position: fixed;
   width: 100%;
   max-width: 200px;
   z-index: 1;
}


.travaux{
  left: 20em;
  top: 20em;
}


div.designeditorial{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}


.designeditorial{
  left: 70em;
  top: 40em;
}


div.directionartistique{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.directionartistique{
  left: 50em;
  top: 12em;
}


div.designmotifs{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.designmotifs{
  left: 50em;
  top: 10em;
}


div.identiteevent{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.identiteevent{
  left: 7em;
  top: 35em;
}

div.designtypo{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}


.designeditorial{
  left: 70em;
  top: 40em;
}


div.directionartistique{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.directionartistique{
  left: 50em;
  top: 12em;
}


div.designmotifs{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.designmotifs{
  left: 50em;
  top: 10em;
}


div.identiteevent{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.identiteevent{
  left: 7em;
  top: 35em;
}

div.designtypo{
   position: fixed;
   width: 100%;
   max-width: 150px;
   z-index: 1;
}

.designtypo{
  left: 80em;
  top: 10em;
}



/* COLONNES */

.contenu{
  display: flex;
  margin-top: 0em;
}



.boite{
  display: flex;
  align-content: space-between;
}

.boite1{
  display: flex;
  align-content: space-between;
}



.colonne figure, .colonne p{
  width: 90%;
  max-width: 100%;
}



.colonne{
  flex-basis:50%;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  width: 100%;
  margin: auto;
}

.colonne1{
  flex-basis:70%;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  width: 100%;
  margin: auto;
}



.page{
  margin-left: 8em;
  width: 40%;
}



.description.page{
  margin: 0;
  padding: 0;
  top: 13em;
  position: fixed;
  width: calc(50% - 6em - 5em);
  left: calc(50% + 5em);
}



.description.page p{
  width: 80%;
}












/* IMAGES SPECIALES */

.rosace{
  max-width: 70%;
  height: auto;
  margin: auto;
}
